::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

html {
  scrollbar-gutter: stable;
  overflow-y: hidden;
}

.list-of-clients::-webkit-scrollbar {
  width: 5px;
}

.list-of-clients::-webkit-scrollbar-track {
  background: transparent;
}

.list-of-clients::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}
